<div *ngIf="!isLoading">
  <app-question-item class="cursor-pointer" [question]="question" *ngFor="let question of questionList">
  </app-question-item>
</div>
<mat-paginator class="paginatorClass" [ngClass]="{'hide': isLoading}" [length]="1000" [pageSize]="1"
  [hidePageSize]="true" (page)="!isLoading ? pageEvent=onPaginationChange($event):
    $event.preventDefault()">
</mat-paginator>

<div *ngIf="isLoading">
  <div class="ui placeholder">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>