/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.pt-20{
  padding-top: 20px;
}

.pr-10{
  padding-right: 10px;
}

.mr-10{
  margin-right: 10px !important;
}

.ml-10{
  margin-left: 10px !important;
}

.mt-20{
  margin-top: 20px !important; 
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}

.mb-10{
  margin-bottom: 10px !important;
}

.pb-0{
  padding-bottom: 0px !important;
}

.b-1{
  border: 1px solid #eee !important;
}

.pt-0{
  padding-top: 0px !important;
}

.pl-0{
  padding-left:0px !important;
}
.pr-0{
  padding-right: 0px !important;
}

.mt-0{
  margin-top: 0px !important;
}

.mb-0{
  margin-bottom: 0px !important;
}

.ml-0{
  margin-left: 0px !important;
}

.mr-0{
  margin-right: 0px !important;
}

.fs-12{
  font-size: 12px !important;
}

.d-none {
  display: none !important;
}

.d-inline{
  display: inline !important;
}

.d-block{
  display: block !important;
}

.ui.comments {
  max-width: 100% !important;
}

.comments{
  width: 100% !important;
}

.answerBody{
  background-color: #f1f1f1 !important;
  padding: 20px !important;
}

.isAccepted{
  border: 2px solid #06f306 !important;
}

.w-100{
  width: 100% !important;
}

.pad-2-10rem{
  padding: 2rem 10rem !important;
}

.h-12rem{
  height: 12rem !important;
}

.h-40{
  height: 40px !important;
}

.mt-80{
  margin-top: 80px !important;
}

.mb-80{
  margin-bottom: 80px !important;
}